.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    position: relative;
}

.categoryWrapper {
    background-color: #010409;
    display: block;
    overflow: auto;
    position: fixed;
    box-sizing: border-box;
    top: 68px;
    right: 0;
    overflow: auto;
    left: 205px;
    /* right: 40px; */
    padding: 16px 0px;
    padding-right: 40px;
    padding-left: 20px;
    /* Hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
}

.activeTag {
    background-color: #ffffff;
    color: #000000;
    border-color: #475569;
}

@media screen and (max-width: 430px) {
    .categoryWrapper {
        left: 56px;
        top: 50px;
        padding: 8px 0px;
    }
}
