body {
    background-color: #000000;
    color: #FFFFFF;
    margin-top : 200px;
    margin-left : 475px;
    margin-right : 475px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#check-yo-email-container{
    display : flex;
    position: relative;
    background-color: #0D1118;
    align-items : center;
    align-content: center;
    flex-direction : column;
    padding-top : 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom : 50px;
    justify-content: center;
    font-family: 'calibri';
}

#email-img{
    height : 60px;
    width : 60px;
}

#text-content{
    text-align: center;
    color : #8e8e8e;
}

#do-underline{
    text-decoration: underline;
}