.dashboardContainer {
    display: flex;
    flex-direction: column;
    background-color: #010409;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
}

.statsGridContainer {
    display: flex;
    background-color: #081028;
    gap: 16px;
}

.Grids {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    background-color: #0b1739;
    border: 1px solid #343b4f;
    border-radius: 8px;
    gap: 15px;
}

.chartContainer {
    padding: 60px;
    border-radius: 8px;
    background-color: #0b1739;
    box-shadow: #081028;
}

.chartPrepare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.chartTitle {
    font-size: 24px;
    font-weight: 700;
    color: gray;
}

.spaceX2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.chartTypes {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    text-transform: capitalize;
    border: 1px solid #343b4f;
}

.chartTyp1 {
    background-color: #0b1739;
    color: white;
}

.chartTyp2 {
    background-color: gray;
    color: rgb(69, 69, 69);
}

.chartTyp2:hover {
    background-color: gray;
    color: rgb(32, 32, 209);
}

.h96 {
    height: 200px;
}

.dropsNotFoundContainer {
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

.dropsNotFoundContainer h1 {
    font-size: 30px;
}

.createDropLink {
    text-decoration: none;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    background: #060E17;
    border: 0.1px solid rgba(52, 59, 79, 60%);
    padding: 20px;
    box-shadow: 10px 10px 28px rgba(1, 5, 17, 30%);
}
