.container {
    height: 100%;
    width: 100vw;
    padding-top: 68px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.section1,
.section2 {
    height: 100%;
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
}

.backButton {
    position: absolute;
    top: 50%;
    left: 60px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.backButtonIcon {
    color: #0960da;
}

.backButtonIcon:hover {
    color: #4485e0;
}

.backButtonIcon:active {
    color: #0960da;
}

.orgainzationRegistrationForm,
.adminRegistrationForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: stretch;
    stroke: none;
    border: none;
    background: #0969da;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

/* For mobile screens */
@media screen and (max-width: 430px) {
    .section1 {
        margin: 0;
        padding: 10px 10px;
        padding-bottom: 100px;
        height: 100%;
        width: 100%;
    }

    .title {
        font-size: 25px;
        align-self: flex-start;
    }
}
