.loginPageClass {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}

.loginPageContainer {
    display: flex;
    flex-direction: column;
    padding-top: 76px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 66px;
    background-color: #000000;
    width: 440px;

    background: linear-gradient(to right, #0d0d0d, #0d0d0d),
        /* Main background */
            linear-gradient(
                to bottom,
                rgba(9, 105, 218, 79%),
                rgba(23, 2, 12, 79%)
            ); /* Border Background */
    box-sizing: border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #0d0d0d;
}

.titleContainer {
    display: flex;
    color: white;
}

.titleName {
    font-size: 20px;
    font-weight: 600;
}

.emailPassContainer {
    display: flex;
    flex-direction: column;
    margin-top: 76px;
    gap: 32px;
}

.forgotPassLink {
    display: flex;
    flex-wrap: wrap;
    color: #1b6ddf;
    font-weight: 500;
    font-size: 15px;
    margin-top: -15px;
}

.logInBtnsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
}

.logInBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
    flex-direction: column;
    align-items: stretch;
}

.signInBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: stretch;
    stroke: none;
    border: none;
    background: #0969da;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.googleLoginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theOrGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HrTag {
    border-top: 0px solid #6e7681;
    opacity: 70%;
    width: 179px;
}

.OrTitle {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #b7bfc7;
}

.signUpClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpTitleClass {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.signUpAcctitle {
    font-weight: 500;
    font-size: 14px;
    color: #d9d9d9;
}

.signUpTitle {
    font-weight: 500;
    font-size: 14px;
    color: #1b6ddf;
}

@media screen and (max-width: 460px) {
    .loginPageContainer {
        height: calc(100vh); /* Exclude header height */
        width: 100vw;
        padding: 10px;
        padding-top: 110px;
        border: 0;
        border-radius: 0;
    }

    .emailPassContainer {
        margin-top: 30px;
    }
}
