.loginPageClass{
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
}

.loginPageContainer{
    display: flex;
    flex-direction: column;
    padding-top : 76px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 86px;
    background-color: #000000;
    width: 440px;
    
    background: 
    linear-gradient(to right, #0D0D0D, #0D0D0D), /* Main background */
    linear-gradient(to bottom, rgba(9, 105, 218, 79%), rgba(23, 2, 12, 79%)); /* Border Background */ 
    box-sizing: border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #0D0D0D;
}

.titleContainer{
    display: flex;
    color: white;
}

.titleName{
    font-size: 20px;
    font-weight: 600;
}

.emailPassContainer{
    display: flex;
    flex-direction: column;
    margin-top: 76px;
    gap : 32px;
}

.forgotPassLink{
    display: flex;
    flex-wrap: wrap;
    color : #1B6DDF;
    font-weight: 500;
    font-size : 15px;
    margin-top : -15px;
}

.logInBtnsContainer{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.logInBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
}

.signInBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 12px;
    padding-bottom : 12px;
    padding-left: 160px;
    padding-right: 160px;
    stroke : none;
    border: none;
    background: #0969DA;
    color: white;
    border-radius: 6px;
    font-weight : 700;
    font-size: 16px;
}

.theOrGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HrTag{
    border-top: 0px solid #6E7681;
    opacity: 70%;
    width: 179px;
}

.OrTitle{
    font-size: 14px;
    font-weight: 600;
    padding : 10px;
    color : #B7BFC7;
}

.signUpClass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpTitleClass{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.signUpAcctitle{
    font-weight: 500;
    font-size: 14px;
    color : #D9D9D9;
}

.signUpTitle{
    font-weight: 500;
    font-size: 14px;
    color : #1B6DDF;
}