.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: #b7bfc7;
}

.wrap {
    height: 44px;
    border: 1px solid #606060;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
}

.input {
    flex: 1;
    width: 100%;
    background-color: transparent;
    outline: 0;
    color: #b7bfc7;
    padding: 10px 20px;
    width: 100%;
}

.input:-webkit-autofill {
    background-color: white !important; /* Set your desired background color */
    color: #b7bfc7 !important; /* Set your desired text color */
    -webkit-text-fill-color: #b7bfc7 !important; /* Ensures text color for autofilled fields */
    -webkit-box-shadow: 0 0 0px 1000px #0d0d0d inset !important; /* Force the background color */
    transition: background-color 5000s ease-in-out 0s; /* Prevent quick flash of autofill styles */
}
