.topBar {
    padding: 10px 30px;
    background-color: #131823;
}

.createCredentialsButton {
    padding: 5px 10px;
}

.body {
    height: 100%;
    width: 100%;
    padding: 30px;
}

.table {
    /* display: flex; */
    width: 100%;
    text-align: left;
    /* flex-direction: column; */
}
