.tableHead{
    display: flex;
    width: 480px;
    gap : 95px;
    background-color: #060E17;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 10px;
}

.tableStatusCol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
    background-color: rgba(255, 176, 22, 20%) ;
    padding-top : 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
    color: #FDB52A;
    border-radius: 2px;
    border: 1px solid rgba(255, 176, 22, 50%);
    line-height: 100%;
}

.tableStatusCol::before{
    content : "\00B7";
    padding-right: 4px;
    font-size: 2em;
}

.tableOrdersCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableDateCol{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.tableTotalCol{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tableOrdersHead{
    display: flex;
    width: 480px;
    background-color: #060E17;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 10px;
}